.allianceauth-opcalendar {
    padding-top: 12px;
}

.allianceauth-opcalendar h5 {
  padding-left: 14px;
}

.allianceauth-opcalendar .calendar {
    width: 98%;
    margin: auto;
    font-size: 13px;
    table-layout: fixed;
  }

.allianceauth-opcalendar .nostyling{
  text-decoration: none !important;
}

.allianceauth-opcalendar .btn {
    outline: none;
    color: white;
    /* background-color: transparent; */
    box-shadow: 0 0 0 0;
    margin-right:3px;
}

/* Updated event styles */
.allianceauth-opcalendar .event {
    background-image: none;
    border-radius: 4px;
    background: var(--bs-light);
    border: none;
    color: black;
    font-size: .75em;
    padding: 0 .75em;
    line-height: 2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 3px;
    position: relative;
}

.allianceauth-opcalendar .event span {
    display: block;
}

.allianceauth-opcalendar .event img {
    vertical-align: middle;
    display: inline-block;
}

.allianceauth-opcalendar .event-structuretimer{
  background: #ffe1c0;
}

.allianceauth-opcalendar .event-moonmining{
  background: #bcedff;
}

.allianceauth-opcalendar .event:before {
    width: 0;
    height: 0;
    border-width: 0px 15px 15px 0;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
}

.allianceauth-opcalendar .event.past-event{
    opacity: 0.4;
}

.allianceauth-opcalendar td.today {
    color: #50a5f1;
    font-weight: bold;
}
.allianceauth-opcalendar .calendar tr, .calendar td {
  border: 1px solid #32394e;
}

.allianceauth-opcalendar .calendar th {
  padding: 10px;
  text-align: center;
  font-size: 18px;
  width: 15%;
}

.allianceauth-opcalendar .calendar td {
  height: 110px;
  vertical-align:top;
  width: 15%;
  padding: 0px 5px 0px 5px;
}

.allianceauth-opcalendar .month {
  font-size: 25px;
  background: #32394e;
  color: white;
}

.allianceauth-opcalendar .date {
  font-size: 16px;
  padding: 5px;
}

.allianceauth-opcalendar ul {
  height: 100%;
  padding: 0px 5px 0px 20px;
}

.allianceauth-opcalendar a {
  color: #17a2b8;
}
.allianceauth-opcalendar .left {
  float: left;
}

.allianceauth-opcalendar .right {
  float: right;
}

.allianceauth-opcalendar .form {
  margin: auto;
}

.allianceauth-opcalendar .form input, .form select, .form textarea {
  border-radius: 5px;
  border: 1px solid #17a2b8;
  outline: none;
  background: none;
  padding: 5px;
  width: 100%;
  }

.allianceauth-opcalendar .legend {
  margin: 15px;
}
.allianceauth-opcalendar .legend span {
    padding: 3px 16px 3px 6px;
    cursor: pointer;
    opacity: 0.7
}

.allianceauth-opcalendar .legend span.active{
  opacity: 1;
}

.allianceauth-opcalendar .calendar .event-moon-details{
  display:table;
  margin-bottom: 5px;
}

.allianceauth-opcalendar .calendar .label{
  display:table-cell;
  vertical-align:middle;
}

.allianceauth-opcalendar .calendar .event-moon-name{
  margin-left: 5px;
}

/* Label classes to fallback for Bootstrap 3 */
.allianceauth-opcalendar .label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    color: #fff;
    vertical-align: baseline;
    border-radius: .25em;
}

.allianceauth-opcalendar .label:empty {
    display: none;
}

.allianceauth-opcalendar .label-default {
    background-color: #95a5a6;
}

.allianceauth-opcalendar .label-default[href]:focus,
.allianceauth-opcalendar .label-default[href]:hover {
    background-color: #798d8f;
}

.allianceauth-opcalendar .label-primary {
    background-color: #2C3E50;
}

.allianceauth-opcalendar .label-primary[href]:focus,
.allianceauth-opcalendar .label-primary[href]:hover {
    background-color: #1a242f;
}

.allianceauth-opcalendar .label-success {
    background-color: #5cb85c;
}

.allianceauth-opcalendar .label-success[href]:focus,
.allianceauth-opcalendar .label-success[href]:hover {
    background-color: #449d44;
}

.allianceauth-opcalendar .label-info {
    background-color: #5bc0de;
}

.allianceauth-opcalendar .label-info[href]:focus,
.allianceauth-opcalendar .label-info[href]:hover {
    background-color: #31b0d5;
}

.allianceauth-opcalendar .label-warning {
    background-color: #f0ad4e;
}

.allianceauth-opcalendar .label-warning[href]:focus,
.allianceauth-opcalendar .label-warning[href]:hover {
    background-color: #ec971f;
}

.allianceauth-opcalendar .label-danger {
    background-color: #d9534f;
}

.allianceauth-opcalendar .label-danger[href]:focus,
.allianceauth-opcalendar .label-danger[href]:hover {
    background-color: #c9302c;
}
